<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../presentation.html">Material Kit PRO</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">
                        <i class="material-icons">apps</i> Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'about' %}">
                        <i class="material-icons">dns</i> About
                    </a>
                </li>
                <li>
                    <a href="{% url "contact" %}">
                        <i class="material-icons">location_on</i> Contact
                    </a>
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'dashboard' %}" class="btn btn-white btn-simple">
                        <i class="material-icons">account_circle</i> Dashboard
                    {% else %}
                        <a href="{% url "akun_login" %}">Login</a> 
                    {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>